
/* -- Global rules -- */
* {
  border: none;
  font-family: "JetBrains Mono";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: rgba(24, 25, 38, 0.3);
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - General rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio_slider,
#network,
#tray,
#battery,
#language,
#cava,
#backlight {
  color: #ECEFF4;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#custom-archicon,
#cpu,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the right */
#clock,
#temperature,
#language {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
  font-size: 20px;
  color: #A6E3A1;
  background: #1E1E2E;
  padding-right: 17px;
}

#clock {
  background: #89B4FA;
  color: #1E1E2E;
}

#cpu {
  background: #F38BA8;
  color: #1E1E2E
}

#memory {
  background: #F9E2AF;
  color: #1E1E2E;
}

#disk {
  background: #B4BEFE;
  color: #1E1E2E;
}

#temperature {
  background: #94E2D5;
  color: #1E1E2E;
}

/* Modules center */
#workspaces {
  background: rgba(30, 30, 46, 0.7);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #BAC2DE;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #A6E3A1;
}

#workspaces button.active {
  color: #89B4FA;
  text-shadow: 0 0 4px #89B4FA;
}

#workspaces button:hover {
  color: #F5C2E7;
}

/* Modules right */
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(137, 180, 250, 0.2);
}

#taskbar button:hover {
  background: rgba(180, 190, 254, 0.2);
}

#idle_inhibitor {
  background: #F5C2E7;
  color: #1E1E2E;
  padding-right: 15px;
}

#pulseaudio {
  background: #313244;
}

#pulseaudio_slider {
  color: #1E1E2E;
  background: #A6E3A1;
}

#network {
  background: #89DCEB;
  color: #1E1E2E;
  padding-right: 13px;
}

#battery {
  background: #CBA6F7;
  color: #1E1E2E;
  padding-right: 13px;
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#language {
  background: #F9E2AF;
  color: #1E1E2E;
  padding-right: 15px;
}

#cava {
  background: #45475A;
}

#backlight{
  background: #111111;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #F38BA8;
    color: #1E1E2E;
  }
}
