
/* -- Global rules -- */
* {
  border: none;
  font-family: "JetBrains Mono";
  font-size: 15px;
  min-height: 10px;
}

@define-color foreground	#f8f8f2;
@define-color background	rgba(40, 42, 54, 0.5);
@define-color orange	#ffb86c;
@define-color gray	#44475a;
@define-color black #21222c;
@define-color red	#ff5555;
@define-color green	#89B4FA;
@define-color yellow	#f1fa8c;
@define-color cyan	#8be9fd;
@define-color blue	#6272a4;
@define-color purple	#bd93f9;
@define-color pink	#ff79c6;
@define-color white #ffffff;
@define-color brred #ff6e6e;
@define-color brgreen #69ff94;
@define-color bryellow #ffffa5;
@define-color brcyan #a4ffff;
@define-color brblue #6272a4;
@define-color brpurple #d6acff;
@define-color brpink #ff92df;

@define-color arch_blue #89b4fa;
@define-color workspace_background	@background;
@define-color workspace_button	@foreground;
@define-color workspace_active	@black;
@define-color workspace_active_background	@green;
@define-color workspace_urgent	@white;
@define-color workspace_urgent_background	@brred;
@define-color workspace_hover	@black;
@define-color workspace_hover_background	@pink;
@define-color critical	@red;
@define-color warning	@yellow;

window#waybar {
  background: rgba(24, 25, 38, 0);
}

window#waybar.hidden {
  opacity: 0;
}

/* - General rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio_slider,
#network,
#tray,
#battery,
#language,
#cava,
#backlight {
  color: #ECEFF4;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#custom-archicon,
#cpu,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the right */
#clock,
#temperature,
#language {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
  font-size: 20px;
  color: #A6E3A1;
  background: #1E1E2E;
  padding-right: 17px;
}

#clock {
  background: #89B4FA;
  color: #1E1E2E;
}

#cpu {
  background: #F38BA8;
  color: #1E1E2E
}

#memory {
  background: #F9E2AF;
  color: #1E1E2E;
}

#disk {
  background: #B4BEFE;
  color: #1E1E2E;
}

#temperature {
  background: #94E2D5;
  color: #1E1E2E;
}

/* Modules center */
/*#workspaces {
  background: rgba(30, 30, 46, 0.7);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #BAC2DE;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #A6E3A1;
}

#workspaces button.active {
  color: #89B4FA;
  text-shadow: 0 0 4px #89B4FA;
}

#workspaces button:hover {
  color: #F5C2E7;
}
*/

#workspaces {
    background: @workspace_background;
    opacity: 1;
    transition: none;
    margin: 6px 5px;
    padding: 0px 6px;
    border-radius: 10px;
}

#workspaces button, #workspaces button.persistent {
    background: transparent;
    color: @workspace_button;
    transition: none;
}

#workspaces button.active {
    background: @workspace_active_background;
    color: @workspace_active;
/*
    border-top: 2px solid @pink;
    border-bottom: 2px solid @pink;
*/
}

#workspaces button.urgent {
    background: @workspace_urgent_background;
    color: @workspace_urgent;
    border-radius: 5px;
}

#workspaces button:hover {
    background: @workspace_hover_background;
    color: @workspace_hover;
    border-radius: 5px;
}

/* Modules right */
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(137, 180, 250, 0.2);
}

#taskbar button:hover {
  background: rgba(180, 190, 254, 0.2);
}

#idle_inhibitor {
  background: #F5C2E7;
  color: #1E1E2E;
  padding-right: 15px;
}

#pulseaudio {
  background: #313244;
}

#pulseaudio_slider {
  color: #1E1E2E;
  background: #A6E3A1;
}

#network {
  background: #89DCEB;
  color: #1E1E2E;
  padding-right: 13px;
}

#battery {
  background: #CBA6F7;
  color: #1E1E2E;
  padding-right: 13px;
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#language {
  background: #F9E2AF;
  color: #1E1E2E;
  padding-right: 15px;
}

#cava {
  background: #45475A;
}

#backlight{
  background: #111111;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #F38BA8;
    color: #1E1E2E;
  }
}
